/*---[ D E F A U L T S ]---*/
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: helvetica, arial, sans-serif;
  font-weight: lighter;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  box-sizing: border-box;
  max-width: 450px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #ddd;
}

h1, h2 {
  text-align: left;
  font-weight: lighter;
  font-family: courier, monospace;
}

input {
  font-size: inherit;
}

/*---[ S P E C I F I C S ]---*/
#balance {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(2, 1fr);
  grid-template-rows: 60% 40%;
  background-color: #eee;
}

#balance p:first-child {
  grid-area: 1 / 1 / 2 / 3;
  font-size: 1.5rem;
  margin: 1rem;
}

#balance p {
  margin: 0 0 1rem 1rem;
}

#history, #transactions {
  margin-top: 3rem;
  border-top: 1px solid #ccc;
}

#history table {
  table-layout: fixed;
  width: 100%;
  background-color: #eee;
  padding: 0.2rem 0;
}

#history tr td:nth-child(1) {
  width: 60%;
  overflow: hidden;
  padding-left: 1rem;
}

#history tr td:nth-child(2) {
  min-width: 20%;
  text-align: right;
  border-left: 1px solid #ddd;
  padding-right: 1rem;
}

#history tr td:nth-child(3) {
  display: none;
}

#history td:nth-child(4) {
  width: 5%;
}

td button {
  width: 100%;
  box-sizing: border-box;
  padding: 0;
  border: 1px solid grey;
  border-radius: 2px;
}

td button:hover, td button:active {
  background-color: #0000ff;
}

#transactions {
  width: 100%;
}

#transactions form {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 2fr) 1fr;
  grid-gap: 1rem;
}

form > label {
  display: block;
}

form > label > input {
  box-sizing: border-box;
  background-color: #eee;
  width: 100%;
  border: none;
  padding:0.1rem;
}

input[type="submit"] {
  font-family: courier, monospace;
  width: 100%;
  padding: 0;
  float: right;
  cursor: pointer;
  border: none;
}

input[disabled=""] {
  cursor: default;
}

::placeholder {
  color: #b4b4b4;
}

.hint {
  color: red;
}

/* MEDIA QUERIES */
@media screen and (max-width: 450px) {
  #root {
    box-sizing: border-box;
    min-height: 100vh;
  }

  h1 {
    font-size: 1.7rem;
  }
}
